<div class="contact">
	<div *ngIf="!emprendedor" class="coco">
		<div class="loading2"></div>
		<div style="margin-top: 50px;">
			<h3><b>CARGANDO...</b></h3>
		</div>
	</div>
	<div class="container" *ngIf="emprendedor&&url">
		<div class="row">
			<!-- <div class="col-12 m-auto " *ngIf="!this.emprendedor">
				<img src="assets/images/loading.gif"  alt="">
			</div> -->
			<div class="col-lg-8 contact_col">
				<div class="get_in_touch">
					<div class="section_title" *ngIf="global.idRol===1">REGISTRAR EMPRENDEDOR</div>
					<div class="section_title" *ngIf="global.idRol!==1">MODIFICAR EMPRENDEDOR</div>

					<div class="contact_form_container">
						<form class="contact_form" autocomplete="false" [formGroup]="emprendedorForm"
							(submit)="updateEmprendedor()">
							<div class="row ">
								<div class="col-xl-6 mb-3">
									<label for="contact_name">Categoria*</label><br>
									<select class=" " style="width: 100%;" style="padding: 6px;" id="contact_name"
										data-show-subtext="true" data-live-search="true" formControlName="idCategoria">
										<option [ngValue]="item.id" *ngFor="let item of category">{{item.nombre}}
										</option>

									</select>
								</div>
								<div class="col-xl-12 mb-3 ">
								</div>
								<div class="col-xl-12 mb-3 ">
									<label for="contact_name">Nombre del Emprendimiento*</label>
									<input type="text" id="contact_name" class="contact_input" spellcheck="false"
										formControlName="nombreEmprendimiento">
								</div>



								<div class="col-xl-12 mb-3 "></div>
								<!-- <div class="col-xl-6 mb-3 ">
									<label for="contact_name">Descripcion Corta*</label> <br>
									<input type="textarea" id="contact_name" class="contact_input" spellcheck="false">
								</div> -->


								<div class="col-xl-12 mb-3 ">
									<label for="contact_last_name">Introduzca la descripción del Emprendimiento*</label>

									<editor apiKey="bf9y619rwmj5udi9g08hm6lrr9k8yk5puncgkryid27e802t"
										formControlName="descripcion" [init]="{
										height: 500,
										menubar: false,
										plugins: [
										'advlist autolink lists link image charmap print preview anchor',
										'searchreplace visualblocks code fullscreen',
										'insertdatetime media table paste code help wordcount'
										],
										toolbar:
										'undo redo | h3 h4 | bold italic backcolor | \
										alignleft aligncenter alignright alignjustify | \
										bullist numlist outdent indent | removeformat | help'
									}"></editor>
								</div>

								<div class="col-xl-12 mb-3 ">
									<hr>
								</div>

								<!-- <div class="col-xl-12 mb-4 ">
									<label for="contact_name">Imagenes*</label><br>
									<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'"
										(change)="onSelect($event)">
										<ngx-dropzone-label>
											<div>
												<h2>Drag and Drop</h2>
											</div>
										</ngx-dropzone-label>
										<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
											*ngFor="let f of files" [file]="f" [removable]="true"
											(removed)="onRemove(f)">
											<ngx-dropzone-label></ngx-dropzone-label>
										</ngx-dropzone-image-preview>
									</div>
								</div> -->
								<div class="col-xl-12 mb-3 ">

								</div>
								<div class="col-xl-12 mb-3 ">
									<label for="contact_name ">Seleccione 6 Imágenes de su Emprendimiento*</label><br>
									<div class="col-lg-6">
										<button type="button" (click)="openFile()" class="button-file">
											Seleccionar Imagenes
										</button>
										<input class="form-control " style="display: none;z-index: -1;" type="file"
											id="file" name="file" ref="file" multiple (change)="changeImg($event)"
											accept=".png, .jpg, .jpeg, .gif" />
									</div>
								</div>
								<div class="col-xl-12 mb-3 ">
									<div class="row">
										<div class="col-4 col-lg-2" *ngFor="let item of url;let i = index">
											<div *ngIf="item!==null">
												<img [src]="item.nombre" class="img-form">
												<a style="position: absolute; left: 90px; top: 10px;"
													(click)="eliminarUrlId(i)"><i
														class="icon-form fa fa-2x fa-minus-circle"></i></a>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6 col-lg-2" *ngFor="let item of temp;let i = index">
											<div *ngIf="item!==null">
												<img [src]="item" class="img-form">
												<a style="position: absolute;left: 90px; top: 10px;"
													(click)="eliminarFileId(i)"><i
														class="icon-form fa fa-2x fa-minus-circle"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 mb-3 ">
									<hr>
								</div>
								<div class="col-xl-12 mb-3 ">
									<label for="contact_name">Seleccione el Video de su Emprendimiento*</label><br>
									<div class="col-lg-6">
										<button type="button" (click)="openVideo()" class="button-file">
											Seleccionar Video
										</button>
										<input class="form-control mb-3 " style="display: none;z-index: -1;" type="file"
											id="video" name="video" ref="video" multiple (change)="setVideo($event)"
											accept=".mp4, .3gp" />
										<div style="margin-top: 20px;">
											<p *ngIf="video">Video seleccionado: {{video?.name}} <i
													style="cursor: pointer;" (click)="deleteVideo()"
													class="bg-red fa fa-minus-circle"></i></p>
											<label *ngIf="urlV">Video actual: &nbsp;</label><a *ngIf="urlV"
												[href]="urlV?.nombre">Ver video actual</a>
											<p style="color:red"><b>{{messageV}}</b></p>
										</div>
									</div>

								</div>
								<div class="col-xl-12 mb-3 ">
									<hr>
								</div>

								<div class="col-xl-12 mb-3 ">
									<label for="contact_name">Introduzca la dirección de su Emprendimiento*</label>
									<input type="text" id="contact_name" class="contact_input" spellcheck="false"
										formControlName="ubicacion">
								</div>

								<div class="col-xl-12 mb-3 ">
									<hr>
								</div>
								<div class="col-xl-12 mb-3 ">
									<p style="font-size: 16px;"><b>Redes Sociales</b></p>
								</div>
								<div class="col-xl-12 mb-1 ">
									<div class="row">
										<div div class="col-lg-6 col-12 mb-3" *ngFor="let item of social;let i = index">
											<label for="contact_name1"><img [src]="'assets/images/icons/'+item.logo"
													width="15" alt=""> {{item.nombre}}</label><br>
											<input type="text" id="contact_name1" [value]="item?.direccion"
												style="padding: 5px;" class="contact_input"
												(change)="changeText(i,$event)">
										</div>
									</div>
								</div>

							</div>
							<div class="row mt-5 ml-1">
								<button class="button_form contact_button" type="submit"><span>Actualizar
									</span></button>&nbsp;
								<button class="button_form contact_button" routerLink="/admin/emprendedor"
									type="button"><span>Cancelar</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-3 offset-xl-1 contact_col">
				<div class="contact_info">

				</div>
			</div>
		</div>

	</div>
</div>

<style>
	select {
		width: 320px;
	}
</style>