<div class="home">
	<div class="home_slider_container">
		<div id="carouselExampleIndicators" class="carousel " data-ride="carousel">
			<!-- <ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol> -->
			<div class="carousel-inner">

				<!-- <div class="carousel-item active">
					<img class="d-block w-100" style="width: 150px;height: 750px;  filter: blur(4px);
					-webkit-filter: blur(4px); ;object-fit:cover;" src="assets/images/postal_5-min.jpg" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<h1 style="color:whitesmoke;"><b>CONGRESO DE CIENCIAS EMPRESARIALES </b></h1>
						<p>Feria de emprendedores</p>

					</div>
				</div> -->
				<div class="carousel-item active">
					<img class="d-block w-100" style="width: 150px;height: 750px; ;object-fit:cover;"
						src="assets/images/postal5.jpeg" alt="First slide">
					
				</div>
				<!-- <div class="carousel-item ">
					<img class="d-block w-100" style="width: 150px;height: 750px; ;object-fit:cover;"
						src="assets/images/postal_4-min.jpg" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>Hello</h3>
						<p>bye</p>
					</div>
				</div> -->


			</div>
			<!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a> -->
		</div>
	</div>
</div>


<div class="main_container_home">
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="row">
					<!-- <div class="col-12">
						<h3>INFORMACIÓN DEL SITIO</h3>
						<br>
					</div> -->
					<div class="col-12 text-center">
						<h3><b>2do Congreso Internacional de Ciencias Empresariales
							</b></h3>
						<h4>“Transformación Digital en las Empresas”</h4>
					</div>
					<div class="col-12 mt-5">
						<p style="text-decoration: underline; color: rgb(228, 105, 105);"><b>26, 27 y 28 de noviembre de 2020</b></p>
						<p><b>
							La Universidad Católica Boliviana “San Pablo” Regional Tarija, a través del
							Departamento de Ciencias Empresariales, tiene el agrado de invitar a participar del Segundo
							Congreso internacional de Ciencias Empresariales</b>
						</p>
					</div>
					<div class="col-12 mt-5">
						<h4><b>Objetivo General</b></h4>
						<p>
							Contribuir al fortalecimiento del conocimiento y desarrollo de las ciencias empresariales,
							generando espacios de intercambio de conocimiento y experiencias académicas y de
							emprendimientos a nivel nacional e internacional, relacionados a la aplicación de
							tecnología, métodos de trabajo y estratégicas empresariales en entornos de alta
							incertidumbre.

						</p>
					</div>
					<div class="col-12 mt-5">
						<h4><b>Ejes temáticos</b></h4>

						<p>
							• Digitalización, Transformación digital y omnicanalidad (Visión, cultura, herramientas,
							procesos) <br> 
							• Nuevas tendencias en las ciencias empresariales<br>
							• Experiencias exitosas de emprendimientos y empresas<br>
							• Construcción de redes de emprendimientos y empresas<br>
							• Desafíos del sector público en relación a empresas y emprendimientos<br>
							• Emprendimientos sociales o startups<br>
						</p>

					</div>
				</div>
			</div>


		</div>
	</div>
</div>

<!-- Ad -->

<div class="avds_xl " style="margin-top: 105px;margin-bottom: 150px;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="avds_xl_container clearfix">
					<div class="avds_xl_background" style="background-image:url(./assets/images/postal_4-min.jpg)">
					</div>
					<div class="avds_xl_content">
						<div class="avds_title">Calendario</div>
						<div class="avds_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a
							ultricies metus.</div>
						<div class="avds_link avds_xl_link"><a href="categories.html">See More</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>