<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-2 col-lg-1 mt-5">
				<div class="logo-main"><a routerLink="/"><img src="assets/images/logo/logo.png"></a></div>
			</div>
			<div class="col-10 col-lg-4 mt-5">
				<div class="footer_logo"><a routerLink="/">Congreso Internacional de Ciencias Empresariales.</a></div>
			</div>
			<div class="col-12 col-lg-4 mt-5">
				<div class="info_ucb">
					<p><b><i class="fa fa-dribbble"></i> Calle Colón entre Bolívar e Ingavi, N°734</b></p>
					<p><b><i class="fa fa-phone"></i> (4) (66) 40192</b></p>
					<p><b><i class="fa fa-fax"></i> (4) (66) 47971</b></p>
					<p><b><i class="fa fa-envelope"></i> marketing@ucbtja.edu.bo</b></p>
				</div>
			</div>
			<div class="col-12 col-lg-5">
				<div class="footer_social ml-lg-auto" style="margin-top:50px">
					<ul>
						<li><a href="https://www.instagram.com/ucbtarija/?hl=es-la"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/UCBTarija/"><i class="fa fa-4x fa-facebook"
									aria-hidden="true"></i></a>
						</li>
						<li><a href="https://twitter.com/tarijaucb?lang=es"><i class="fa fa-twitter"
									aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>